000-small_project/build
001-solution/build
002-static_libs/build
003-shared_libs/build
004-add_sfml/build
004-add_sfml/3TH_PARTY/SFML-2.6.0-doc
004-add_sfml/3TH_PARTY/SFML
005-functions/build
005-functions/3TH_PARTY/SFML
005-functions/SFML-2.6.0-doc
